911_TOKEN= 

WEATHER_STATION_ID = 
WEATHER_BASE_URL = 

CENSUS_BASE_URL = 
CENSUS_TRACTS_URL = 
CENSUS_API_KEY = 

AWS_PROFILE_NAME = 
AWS_REGION = 
S3_BASE_PATH = 

SNOWFLAKE_ACCOUNT= 
SNOWFLAKE_USER= 
SNOWFLAKE_PRIVATE_KEY_PATH= 
SNOWFLAKE_WAREHOUSE= 
SNOWFLAKE_DATABASE= 
SNOWFLAKE_SCHEMA= 
